<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399936801836-sqvimkgsbskrfcn311q6fer1koh62m6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399936801836-sqvimkgsbskrfcn311q6fer1koh62m6m</string>
	<key>API_KEY</key>
	<string>AIzaSyAJF5Y7Qhi7ZhoU3ftxYIyEOjI6ISpfre0</string>
	<key>GCM_SENDER_ID</key>
	<string>399936801836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.battery</string>
	<key>PROJECT_ID</key>
	<string>battery-3fd5b</string>
	<key>STORAGE_BUCKET</key>
	<string>battery-3fd5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399936801836:ios:794887e6738caad8991589</string>
</dict>
</plist>